body
{
    color:rgba(0, 0, 0, 0.884);
    text-align: center;
    font-family: "Arial";
    font-size: 16px;
    margin: 0;
    padding: 0;
}
#cabecera
{
    background-color: #33a;
    box-shadow: 0px 5px 20px 0px rgb(0, 0, 0.5);
    color: white;
    margin: 0;
    padding: 0.5em;
}
#cabecera #tangline
{
    margin: 0 0 0 0.1em;
    font-weight: normal;
    font-size: 0.8em;
}
#container
{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid #5a5151;
    margin: 0 auto;

}
#container h1
{
    font-size: 20px;
}
#footer
{
    color:rgba(71, 2, 2, 0.884);
    text-align: center;
    font-family: "TimesNewRoman";
    font-size: 16px;
}